/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* END RESET */

:root {
    --clr-yellow: #f4d04e;
    --clr-white: #ffffff;
    --clr-black: #111111;
    --clr-grey: #7f7f7f;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

/* Visually Hidden Utility */
/* Learn more here: [How-to: Hide content - The A11Y Project](https://www.a11yproject.com/posts/how-to-hide-content/) */

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    font-family: "Figtree", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--clr-yellow);
    min-height: 100dvh;
    display: grid;
    place-content: center;
    justify-items: center;
    row-gap: 3rem;
    padding: 1.5rem;
}

a:focus-visible {
    outline: 2px dashed var(--clr-black);
    outline-offset: 3px;
}

.card {
    background-color: var(--clr-white, "#FFF");
    display: flex;
    flex-direction: column;
    max-width: 21rem;
    row-gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px var(--clr-black) solid;
    box-shadow: 8px 8px 0px 0px #000;
}

:is(.card:hover, .card:focus, .card:focus-visible) .card__title {
    color:#f4d04e;  
    transition: color 150ms ease-out;
}
:is(.card:hover, .card:focus, .card:focus-visible) .card__image {
    opacity: 50%;
    transition: opacity 150ms ease-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    order: 1;
}

.tag {
    background-color: var(--clr-yellow);
    font-size: 0.75rem;
    font-weight: 800;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 4px;
}

.card__image {
    border-radius: 10px;
}

.card__body {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.card__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    order: 3;
}



.card__date {
    font-size: 0.75rem;
    font-weight: 500;
    order: 2;
}

.card__copy {
    font-size: 0.875rem;
    color: var(--clr-grey);
    line-height: 1.5;
    order: 4;
}
.author-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.author-container__image {
    aspect-ratio: 1/1;
    width: 2rem;
}

.author-container__name {
    font-size: 0.75rem;
    font-weight: 800;
}

.attribution {
    font-size: 0.875rem;
    text-align: center;
    max-width: 25ch;
    line-height: 1.4;
}

.attribution a {
    text-decoration: underline;
}
